{% extends  'generator/base.html' %}

{% block main %}

 <div class="row col-12  justify-content-md-center">
    <div class="col-8">
         <h3>Data schemas</h3>
    </div>
    <div class="col-4">
      <a class="btn btn-success" href="{%url 'schema_create'%}" role="button">New Schema</a>
    </div>
 </div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Modified</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>

    {% for schema in schemas %}
    <tr>
         <th scope="row">{{schema.pk}}</th>
          <td>
              <a href="#">{{schema.name}}</a>
          </td>
          <td>{{schema.date_modified|date:'Y-m-d H:i'}}</td>
          <td>
              <a href="{% url 'schema_update' schema.pk%}">Edit scheme</a>
              <a href="{% url 'schema_delete' schema.pk%}" class="text-danger">Delete scheme</a>
          </td>
        </tr>
    {% endfor %}

  </tbody>
</table>

{% endblock %}